:root {
  --general-text: #FFFFFF;
  --general-bg: #141414;
  --general-color: #E3E3DE;
  --accent-color: #F47521;
  --accent-text: #979797;
  --accent-text2: #A6A6A6;
  --transition: all .4s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Archivo", "Arial", sans-serif;
  color: var(--general-text);
}

.body--opened-menu {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1738px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.circle {
  background: var(--accent-color);
  width: clamp(45px, 20px + 5.5vw, 122px);
  height: clamp(45px, 20px + 5.5vw, 122px);
  flex-shrink: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
}

.circle:hover {
  transform: translate(-50%, -50%) scale(1.02);
  box-shadow: 0 0 20px var(--accent-color);
}

.title {
  font-family: Oswald, "Arial", sans-serif;
  font-size: clamp(38px, 10vw, 70px);
  font-weight: 500;
}

.specfont {
  font-family: Oswald, "Arial", sans-serif;
}

.specfont-within {
  font-family: Oswald, "Arial", sans-serif;
  color: var(--general-bg);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff4d;
  font-size: 397px;
  font-weight: 600;
}

.specfont-accentcolor {
  color: var(--accent-color);
  font-size: clamp(13px, 1.1vw, 20px);
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.main {
  flex-grow: 1;
}

.main__card {
  background: var(--general-color);
  width: 100%;
  height: 396px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main__protein {
  position: relative;
  background: var(--general-bg);
  width: 100%;
}

.main__typessport {
  width: 100%;
  overflow: visible;
}

.main__programs {
  background: var(--general-bg);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.timetable {
  width: 100%;
  padding: clamp(27px, 4vw, 47px) 0;
  background: var(--accent-color);
  color: var(--general-bg);
  font-size: clamp(12px, 2vw, 16px);
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  cursor: pointer;
  transition: var(--transition);
}

.timetable svg {
  width: clamp(12px, 2vw, 16px);
  height: clamp(12px, 2vw, 16px);
}

.timetable svg path {
  transition: var(--transition);
}

.timetable:hover {
  color: var(--general-text);
}

.timetable:hover svg path {
  stroke: var(--general-text);
}

.timetable:hover svg {
  animation: arrowMove 1.2s infinite ease-in-out;
}

@keyframes arrowMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(0);
  }
}

.main__testimonials {
  max-width: 100%;
}

.main__highlights {
  background: var(--general-color);
  color: var(--general-bg);
}

.main__training {
  color: var(--general-text);
  background: #303030;
}

.main__timetable {
  background: var(--general-bg);
  color: var(--general-text);
  white-space: nowrap;
}

.main__gyms {
  background: var(--general-color);
  color: var(--general-bg);
  display: flex;
  justify-content: center;
}

.main__professionals {
  background: var(--general-bg);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main__blog {
  background: var(--general-color);
  color: var(--general-bg);
  padding: 0;
  width: 100%;
  position: relative;
}

.footer__streak,
.header__streak {
  max-width: 1708px;
  height: 1px;
  opacity: 0.5;
  background: var(--general-text);
}