.header {
    background: var(--general-bg);
}

.header__top {
    padding-top: 47px;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 52px;
}

.header__logo {
    max-width: 199px;
    z-index: 11;
    position: relative;
}

.logo-active::after,
.logo-active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: var(--transition);
}

.logo-active::before {
    top: -5px;
    transform-origin: left;
}

.logo-active:hover::after,
.logo-active:hover::before {
    transform: scaleX(1);
}

.header__logo img {
    width: 100%;
}

.nav__list {
    color: var(--general-text);
    display: flex;
    gap: 4vh 50px;
    font-weight: 600;
    font-size: 23px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -13px;
    width: 40px;
    height: 40px;
    background: var(--accent-color);
    border-radius: 50%;
    z-index: -1;

    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

.header__basket:hover {
    animation: basketSwing 1s ease-in-out infinite;
}

@keyframes basketSwing {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(6px);
    }
}

.header__basket,
.header__search img {
    transition: var(--transition);
}

.header__search:hover img {
    transform: scale(1.2);
}

.header__basket {
    position: relative;
}

.header__number-products {
    position: absolute;
    margin-top: -34px;
    margin-left: 26px;
}

.header__icon-right {
    display: flex;
    align-items: center;
    gap: 36px;
}

.burger-icon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 25px;
    height: 4px;
    border-radius: 100px;
    background: var(--general-text);
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -9px;
}

.burger-icon span::after {
    bottom: -9px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.header__hero {
    padding: 60px 0 0;
}


/*==================================================*/

.hero__content>.container {
    position: relative;
}

.hero__title {
    color: var(--general-text);
    font-size: 198px;
    font-weight: 600;
    line-height: 0.98;
    position: relative;
    z-index: 1;
    left: -10px;
    cursor: pointer;
}

.hero__title-span {
    position: absolute;
    right: -10px;
    top: 63%;
    transform: translateY(-50%);
    text-align: right;
    transition: var(--transition);
    transform-origin: center;
}

.hero__content:hover .hero__title-span {
    animation: within 2s ease-in-out;
}

@keyframes within {
    0% {
        transform: translateY(-50%) scale(1);
        opacity: 1;
        filter: blur(0);
    }
    25% {
        transform: translateY(-50%) scale(0.5);
        opacity: 0.7;
        filter: blur(3px);
    }
    50% {
        transform: translateY(-50%) scale(0.1);
        opacity: 0;
        filter: blur(15px);
    }
    75% {
        transform: translateY(-50%) scale(0.5);
        opacity: 0.7;
        filter: blur(3px);
    }
    100% {
        transform: translateY(-50%) scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

.hero__img img {
    width: 100%;
}

.hero__img {
    position: relative;
    top: -60px;
    z-index: 2;
    margin-bottom: -60px;
}

.hero__link svg {
    transition: var(--transition);
}

.hero__link:hover svg {
    animation: hero__link-arrow 1.2s ease-in-out infinite;
}

@keyframes hero__link-arrow {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(6px);
    }
}